# **Incremental Capstone 2** #

In [ ]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import platform
import sys

# How to tell python version
#print (sys.version_info)
#print (platform.python_version())

# How to pip install from Terminal window:
# python -m pip install seaborn

sys.version_info(major=3, minor=12, micro=10, releaselevel='final', serial=0)
3.12.10

### **Data Import and Basic Info**

In [22]:
# Import data into DataFrame
# Renamed CSV file is assumed to live in same folder as my notebook
df_original_data = pd.read_csv("NSMES1988-NSMES1988.csv")

# Let's look at what we just imported and get some more info
# I like to delineate output to make it more readable
print("***********************************")
print("Basic Info of imported data set")
print("***********************************")
df_original_data.info()
print()

# Looks like there is an unnamed column -- RowId? Id? It looks unique

# Export the Original Data to a Json file
df_original_data.to_json('NSMES1988.json', orient='records', indent=4)

***********************************
Basic Info of imported data set
***********************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4406 non-null   int64
 1   visits      4406 non-null   int64
 2   nvisits     4406 non-null   int64
 3   ovisits     4406 non-null   int64
 4   novisits    4406 non-null   int64
 5   emergency   4406 non-null   int64
 6   hospital    4406 non-null   int64
 7   health      4406 non-null   object
 8   chronic     4406 non-null   int64
 9   adl         4406 non-null   object
 10  region      4406 non-null   object
 11  age         4406 non-null   float64
 12  gender      4406 non-null   object
 13  married     4406 non-null   object
 14  school      4406 non-null   int64
 15  income      4406 non-null   float64
 16  employed    4406 non-null   object
 17  insurance   4406 non-null   object
 18  medicaid    4406 non-null   object
dtypes: float64(2), int64(9), object(8)
memory usage: 654.1+ KB

### **Basic Stats of Imported Data**

In [23]:
# Get some stats on the imported data
print("***********************************")
print("Basic Stats of Imported Data")
print("***********************************")
print(df_original_data.describe().transpose())
print()

***********************************
Basic Stats of Imported Data
***********************************
             count         mean          std     min         25%         50%  \
Unnamed: 0  4406.0  2203.500000  1272.046972  1.0000  1102.25000  2203.50000
visits      4406.0     5.774399     6.759225  0.0000     1.00000     4.00000
nvisits     4406.0     1.618021     5.317056  0.0000     0.00000     0.00000
ovisits     4406.0     0.750794     3.652759  0.0000     0.00000     0.00000
novisits    4406.0     0.536087     3.879506  0.0000     0.00000     0.00000
emergency   4406.0     0.263504     0.703659  0.0000     0.00000     0.00000
hospital    4406.0     0.295960     0.746398  0.0000     0.00000     0.00000
chronic     4406.0     1.541988     1.349632  0.0000     1.00000     1.00000
age         4406.0     7.402406     0.633405  6.6000     6.90000     7.30000
school      4406.0    10.290286     3.738736  0.0000     8.00000    11.00000
income      4406.0     2.527132     2.924648 -1.0125     0.91215     1.69815

                   75%        max
Unnamed: 0  3304.75000  4406.0000
visits         8.00000    89.0000
nvisits        1.00000   104.0000
ovisits        0.00000   141.0000
novisits       0.00000   155.0000
emergency      0.00000    12.0000
hospital       0.00000     8.0000
chronic        2.00000     8.0000
age            7.80000    10.9000
school        12.00000    18.0000
income         3.17285    54.8351

### **Look at Shape, Peek at Basic Rows, Missing Data**

In [24]:
# Whats the shape of the Data Frame
print("***********************************")
print("Data Frame Shape")
print("***********************************")
print(f"Shape: {df_original_data.shape}")
print()

# 4406 rows, 19 columns row number will be useful when looking for missing values

# Lets look at some of the data rows
print("***********************************")
print("Examine Data Rows")
print("***********************************")
print(df_original_data.head(10))
print()

print("***********************************")
print("Are there any null/missing data cells?")
print("***********************************")
print(df_original_data.isnull())
print(f"Number of missing cells by Feature:{df_original_data.isnull().sum()}")
print(f"Total number of missing cells:{df_original_data.isnull().sum().sum()}")
print()

# Data looks good in terms of missing/null values.
# We might want to make sure types are correct in each column (bad/corrupt data)
# I will get back to that later...
print("No empty/missing values")

***********************************
Data Frame Shape
***********************************
Shape: (4406, 19)

***********************************
Examine Data Rows
***********************************
   Unnamed: 0  visits  nvisits  ovisits  novisits  emergency  hospital  \
0           1       5        0        0         0          0         1
1           2       1        0        2         0          2         0
2           3      13        0        0         0          3         3
3           4      16        0        5         0          1         1
4           5       3        0        0         0          0         0
5           6      17        0        0         0          0         0
6           7       9        0        0         0          0         0
7           8       3        0        0         0          0         0
8           9       1        0        0         0          0         0
9          10       0        0        0         0          0         0

    health  chronic      adl   region  age  gender married  school  income  \
0  average        2   normal    other  6.9    male     yes       6  2.8810
1  average        2   normal    other  7.4  female     yes      10  2.7478
2     poor        4  limited    other  6.6  female      no      10  0.6532
3     poor        2  limited    other  7.6    male     yes       3  0.6588
4  average        2  limited    other  7.9  female     yes       6  0.6588
5     poor        5  limited    other  6.6  female      no       7  0.3301
6  average        0   normal  midwest  7.5  female      no       8  0.8280
7  average        0   normal  midwest  8.7  female      no       8  3.0456
8  average        0   normal  midwest  7.3  female      no       8  3.0456
9  average        0   normal  midwest  7.8  female      no       8  3.0456

  employed insurance medicaid
0      yes       yes       no
1       no       yes       no
2       no        no      yes
3       no       yes       no
4       no       yes       no
5       no        no      yes
6       no       yes       no
7       no       yes       no
8       no       yes       no
9       no       yes       no

***********************************
Are there any null/missing data cells?
***********************************
      Unnamed: 0  visits  nvisits  ovisits  novisits  emergency  hospital  \
0          False   False    False    False     False      False     False
1          False   False    False    False     False      False     False
2          False   False    False    False     False      False     False
3          False   False    False    False     False      False     False
4          False   False    False    False     False      False     False
...          ...     ...      ...      ...       ...        ...       ...
4401       False   False    False    False     False      False     False
4402       False   False    False    False     False      False     False
4403       False   False    False    False     False      False     False
4404       False   False    False    False     False      False     False
4405       False   False    False    False     False      False     False

      health  chronic    adl  region    age  gender  married  school  income  \
0      False    False  False   False  False   False    False   False   False
1      False    False  False   False  False   False    False   False   False
2      False    False  False   False  False   False    False   False   False
3      False    False  False   False  False   False    False   False   False
4      False    False  False   False  False   False    False   False   False
...      ...      ...    ...     ...    ...     ...      ...     ...     ...
4401   False    False  False   False  False   False    False   False   False
4402   False    False  False   False  False   False    False   False   False
4403   False    False  False   False  False   False    False   False   False
4404   False    False  False   False  False   False    False   False   False
4405   False    False  False   False  False   False    False   False   False

      employed  insurance  medicaid
0        False      False     False
1        False      False     False
2        False      False     False
3        False      False     False
4        False      False     False
...        ...        ...       ...
4401     False      False     False
4402     False      False     False
4403     False      False     False
4404     False      False     False
4405     False      False     False

[4406 rows x 19 columns]
Number of missing cells by Feature:Unnamed: 0    0
visits        0
nvisits       0
ovisits       0
novisits      0
emergency     0
hospital      0
health        0
chronic       0
adl           0
region        0
age           0
gender        0
married       0
school        0
income        0
employed      0
insurance     0
medicaid      0
dtype: int64
Total number of missing cells:0

No empty/missing values

### **Clean up Column Naming**

In [25]:
# Column names lack informative context, change'em
print("***********************************")
print("Cleaning up column names")
print("***********************************")
print("Original Column Names")
print('\n'.join(df_original_data.columns))
print()

# Rename the columns and put results into a new Data Frame
df_cleaned_up_data = df_original_data.rename(columns={'Unnamed: 0': "id", 
                                                    'visits':'physician_office_visits', 
                                                    'nvisits':'nonphysician_office_visits', 
                                                    'ovisits':'physician_outpatient_visits', 
                                                    'novisits':'nonphysician_outpatient_visits', 
                                                    'emergency':'emergency_room_visits',
                                                    'hospital':'number_of_hospital_stays', 
                                                    'health':'overall_health_factor', 
                                                    'chronic':'number_of_chronic_conditions', 
                                                    'adl':'daily_living_activities', 
                                                    'married':'is_married', 
                                                    'school':'years_of_education', 
                                                    'income':'family_income', 
                                                    'employed':'is_employed', 
                                                    'insurance':'has_health_insurance', 
                                                    'medicaid':'has_medicaid'})

print("Cleaned Up Column Names")
print('\n'.join(df_cleaned_up_data.columns))
print()

***********************************
Cleaning up column names
***********************************
Original Column Names
Unnamed: 0
visits
nvisits
ovisits
novisits
emergency
hospital
health
chronic
adl
region
age
gender
married
school
income
employed
insurance
medicaid

Cleaned Up Column Names
id
physician_office_visits
nonphysician_office_visits
physician_outpatient_visits
nonphysician_outpatient_visits
emergency_room_visits
number_of_hospital_stays
overall_health_factor
number_of_chronic_conditions
daily_living_activities
region
age
gender
is_married
years_of_education
family_income
is_employed
has_health_insurance
has_medicaid

### **Look for Bad Data in Numeric columns**

In [26]:
# Look at the numeric columns in our data set -- does it contain valid numeric values??

# Find all the numeric columns...
print("***********************************")
print("Identify the numeric columns")
print("***********************************")
numeric_cols = df_cleaned_up_data.select_dtypes(include='number').columns.tolist()
print(f"There are {len(numeric_cols)} numeric columns in our data set")
print(numeric_cols)
print()

# Do these columns contain valid numeric values? is there any data?
# By eye balling the incoming data and identifying what we think are columns that
# are expected to have numeric types and comparing that list to generated columsn above
# we see that those expected columns all contain numeric values.
# If they contained any other than numeric (bad) values, then those columns would not have been
# identified as numeric
# If we found discrepancies, we would have to correct by either excluding row (bad) or replacing it with mean or median values
# We have to be careful with the tract we take as it can create biases or skew data.

***********************************
Identify the numeric columns
***********************************
There are 11 numeric columns in our data set
['id', 'physician_office_visits', 'nonphysician_office_visits', 'physician_outpatient_visits', 'nonphysician_outpatient_visits', 'emergency_room_visits', 'number_of_hospital_stays', 'number_of_chronic_conditions', 'age', 'years_of_education', 'family_income']

### **Look at Age and Income Columns**

In [27]:
# Examine the column data types, values and ranges

# At first glance its seems kinda of wonky and less than intuitive the age and income
# are not true values, but rather a factor of some multiplier
# First order of business is to normalize them and get rid of the multiplier effect
# Age/Income should really be integer values because:
# - Less Storage required
# - Better performance (especially for large data sets int math is way faster the floating point operations)
# - Should be 64 bit int - we are using 64 bit OSs these days, right??
# - Not sure if it's terribly meaningful for someone to be 34.46 years old or make $50000.03 as a salary,
#   so round the values

print("***********************************")
print("Cleaning the age/income columns to get rid of multiplier")
print("***********************************")

# Look at 1st 10 rows of data for age and family_income
print("Original Data")
print(df_cleaned_up_data[["age", "family_income"]].head(10))
print()

# Transform those columns to "normalized-ish" integer values
df_cleaned_up_data["age"] = (df_cleaned_up_data["age"] * 10).round().astype(np.int8)
df_cleaned_up_data["family_income"] = (df_cleaned_up_data["family_income"] * 10000).round().astype(np.int32)

# Re-Examine those 10 rows
print("Transformed Data")
print(df_cleaned_up_data[["age", "family_income"]].head(10))
print()

# Look for outliers in both columns
print("Are there Outliers in the age values?")
invalid_age_values = df_cleaned_up_data[(df_cleaned_up_data['age'] <= 0) | (df_cleaned_up_data['age'] > 110)]["age"]
if len(invalid_age_values) == 0:
    print("No invalid ages discovered")
else:
    print(f"{len(invalid_age_values)} invalid ages were found:")
    print(f"{invalid_age_values}")
print()

print("Are there Outliers in the family_income values?")
invalid_family_income_values = df_cleaned_up_data[(df_cleaned_up_data['family_income'] < 0)]["family_income"]
if len(invalid_family_income_values) == 0:
    print("No invalid family incomes (negative values) discovered")
else:
    print(f"{len(invalid_family_income_values)} invalid family_income values were found:")
    print(f"{invalid_family_income_values}")   

# OK we found 3 instances were the income was < 0; Not sure how we clean those values up.. 
# Don't think this is a wrap around issue (values too large)

***********************************
Cleaning the age/income columns to get rid of multiplier
***********************************
Original Data
   age  family_income
0  6.9         2.8810
1  7.4         2.7478
2  6.6         0.6532
3  7.6         0.6588
4  7.9         0.6588
5  6.6         0.3301
6  7.5         0.8280
7  8.7         3.0456
8  7.3         3.0456
9  7.8         3.0456

Transformed Data
   age  family_income
0   69          28810
1   74          27478
2   66           6532
3   76           6588
4   79           6588
5   66           3301
6   75           8280
7   87          30456
8   73          30456
9   78          30456

Are there Outliers in the age values?
No invalid ages discovered

Are there Outliers in the family_income values?
3 invalid family_income values were found:
909    -10125
910    -10125
2592    -8180
Name: family_income, dtype: int32

### **Look at Yes/No Columns**

In [28]:
# Examine the columns that contain Yes/No values
# It is better to translate Yes/No string columns into boolean columns for
# - Improved performance
# - Improved memory usage

# Identify Yes/No columns
yes_no_columns = []
columns = df_cleaned_up_data.select_dtypes(include='object').columns

for col in columns:
    # OK, had to research how to do this....
    column_values = df_cleaned_up_data[col].dropna().astype(str).str.lower()

    # Count how many are yes or no
    yes_no_count = column_values.isin(['yes', 'no']).sum()
    total_count = len(column_values)

    # Calculate the percentage
    if total_count > 0:
        if yes_no_count / total_count >= .9:
            yes_no_columns.append(col)


print("Identifying Potential Yes/No -> Boolean columns")
if len(yes_no_columns) > 0:
    print(f"{len(yes_no_columns)} Yes/No columns were found")
    print("The Yes/No columns are:")
    print(f"{yes_no_columns}")
else:
    print("No Yes/No columns were found")

print()   
print("Examining 'Yes/No' Columns for bad data")
print()

# OK, we found 4 Yes/No columns.
# Now let's verify that the columns don't contain any bad (non-Yes/No) values
yes_no_columns_with_bad_data = []
for col in yes_no_columns:

    values = df_cleaned_up_data[col].dropna().astype(str).str.lower()
    has_non_yes_no = ~values.isin(['yes', 'no']).all()

    if has_non_yes_no:
        yes_no_columns_with_bad_data.append(col)

if len(yes_no_columns_with_bad_data) > 0:
    print(f"{len(yes_no_columns_with_bad_data)} were found that contained bad data.")
    print(yes_no_columns_with_bad_data)
else:
    print("No 'Yes/No' columns were found that contained bad data")


# OK, so we didn't find any Yes/No columns with bad data
# Let's translate those Yes/No columns into boolean values

print()
print("Original sample of Yes/No columns:")
print(df_cleaned_up_data[yes_no_columns].head(10))
print()

# Translate those column into boolean columns
for col in yes_no_columns:
    # I had to look this one up too. astype() won't work here
    df_cleaned_up_data[col] = df_cleaned_up_data[col].str.lower().map({'yes': True, 'no': False})

print()
print("Translate sample of Yes/No to boolean columns:")
print(df_cleaned_up_data[yes_no_columns].head(10))
print()

# Verify the converted column types
print("Here are the converted dtypes for the 'Yes/No' columns:")
print(f"{df_cleaned_up_data[yes_no_columns].dtypes}")
print()

Identifying Potential Yes/No -> Boolean columns
4 Yes/No columns were found
The Yes/No columns are:
['is_married', 'is_employed', 'has_health_insurance', 'has_medicaid']

Examining 'Yes/No' Columns for bad data

No 'Yes/No' columns were found that contained bad data

Original sample of Yes/No columns:
  is_married is_employed has_health_insurance has_medicaid
0        yes         yes                  yes           no
1        yes          no                  yes           no
2         no          no                   no          yes
3        yes          no                  yes           no
4        yes          no                  yes           no
5         no          no                   no          yes
6         no          no                  yes           no
7         no          no                  yes           no
8         no          no                  yes           no
9         no          no                  yes           no


Translate sample of Yes/No to boolean columns:
   is_married  is_employed  has_health_insurance  has_medicaid
0        True         True                  True         False
1        True        False                  True         False
2       False        False                 False          True
3        True        False                  True         False
4        True        False                  True         False
5       False        False                 False          True
6       False        False                  True         False
7       False        False                  True         False
8       False        False                  True         False
9       False        False                  True         False

Here are the converted dtypes for the 'Yes/No' columns:
is_married              bool
is_employed             bool
has_health_insurance    bool
has_medicaid            bool
dtype: object

### **Look at Columns that are currently of type int64**

In [29]:
# Looking at the columns that are defined as int64, it looks like we can make some gains transforming them into int8s
# Number of visits, years of school, et al. It doesn't make sense to keep them as int64s
# We have to check their values first so we don't run into overflow errors

print()
print("Find all the int64 columns:")
int64_cols = df_cleaned_up_data.select_dtypes(include='int64').columns

print(f"There are {len(int64_cols)} columns of type int64")
print(int64_cols)
print()

print("Scan for values that might cause overflow issues in any of the int64 columns")

INT8_MIN = -128
INT8_MAX = 127
out_of_range_columns = []

for col in int64_cols:
    min_val = df_cleaned_up_data[col].min()
    max_val = df_cleaned_up_data[col].max()

    if min_val < INT8_MIN | max_val > INT8_MAX:
        out_of_range_columns.append(col)

if len(out_of_range_columns) > 0:
    print(f"{len(out_of_range_columns)} were found")
    print(out_of_range_columns)
else:
    print("No out of range columns were found")


# No out of range for int8 columns were found, we can proceed with the transform to int8

# Look at 1st 10 rows of data for age and family_income
print("Original Data")
print(df_cleaned_up_data[int64_cols].head(10))
print()

for col in int64_cols:
    df_cleaned_up_data[col] = df_cleaned_up_data[col].astype(np.int8)

print("Transformed to int8 Data")
print(df_cleaned_up_data[int64_cols].head(10))
print()

Find all the int64 columns:
There are 9 columns of type int64
Index(['id', 'physician_office_visits', 'nonphysician_office_visits',
       'physician_outpatient_visits', 'nonphysician_outpatient_visits',
       'emergency_room_visits', 'number_of_hospital_stays',
       'number_of_chronic_conditions', 'years_of_education'],
      dtype='object')

Scan for values that might cause overflow issues in any of the int64 columns
No out of range columns were found
Original Data
   id  physician_office_visits  nonphysician_office_visits  \
0   1                        5                           0
1   2                        1                           0
2   3                       13                           0
3   4                       16                           0
4   5                        3                           0
5   6                       17                           0
6   7                        9                           0
7   8                        3                           0
8   9                        1                           0
9  10                        0                           0

   physician_outpatient_visits  nonphysician_outpatient_visits  \
0                            0                               0
1                            2                               0
2                            0                               0
3                            5                               0
4                            0                               0
5                            0                               0
6                            0                               0
7                            0                               0
8                            0                               0
9                            0                               0

   emergency_room_visits  number_of_hospital_stays  \
0                      0                         1
1                      2                         0
2                      3                         3
3                      1                         1
4                      0                         0
5                      0                         0
6                      0                         0
7                      0                         0
8                      0                         0
9                      0                         0

   number_of_chronic_conditions  years_of_education
0                             2                   6
1                             2                  10
2                             4                  10
3                             2                   3
4                             2                   6
5                             5                   7
6                             0                   8
7                             0                   8
8                             0                   8
9                             0                   8

Transformed to int8 Data
   id  physician_office_visits  nonphysician_office_visits  \
0   1                        5                           0
1   2                        1                           0
2   3                       13                           0
3   4                       16                           0
4   5                        3                           0
5   6                       17                           0
6   7                        9                           0
7   8                        3                           0
8   9                        1                           0
9  10                        0                           0

   physician_outpatient_visits  nonphysician_outpatient_visits  \
0                            0                               0
1                            2                               0
2                            0                               0
3                            5                               0
4                            0                               0
5                            0                               0
6                            0                               0
7                            0                               0
8                            0                               0
9                            0                               0

   emergency_room_visits  number_of_hospital_stays  \
0                      0                         1
1                      2                         0
2                      3                         3
3                      1                         1
4                      0                         0
5                      0                         0
6                      0                         0
7                      0                         0
8                      0                         0
9                      0                         0

   number_of_chronic_conditions  years_of_education
0                             2                   6
1                             2                  10
2                             4                  10
3                             2                   3
4                             2                   6
5                             5                   7
6                             0                   8
7                             0                   8
8                             0                   8
9                             0                   8

### **Export Results back to CSV and JSON files**

In [30]:
# Export the Cleaned up/ Translated Data to a Json and CSV files
print("Exported the Cleaned up/ Translated Data to a Json file")
df_original_data.to_json('NSMES1988New.json', orient='records', indent=4)
print()

print("Exported the Cleaned up/ Translated Data to a CSV file")
df_cleaned_up_data.to_csv('NSMES1988New.csv')
print()

Exported the Cleaned up/ Translated Data to a Json file

Exported the Cleaned up/ Translated Data to a CSV file

### **Capstone Session 1 Findings**

The first lesson I learned is that you can spend a LOT of time going through the initial data analysis/cleansing process.
Given the time restraints, it was hard not to get carried away. I realized that there is still a lot going on in/with python
and what I know is just scratching the surface. The process is (and should be) an iterative one.

I've basically tried to interject my comments as #comments in my python cells as I went the through the data discovery process.
I identified that there was no missing/null data in the current data set, which made the translations to new types easier.
Choose meaningful column names - this will add context to your analysis further on down the line.
There were cases (int8, int16, bool) where we could transform into new column data types for performance and memory considerations.
Looking at the "number of visits" columns, it feels like the data in some columns is kind of sparse (0??). I'm wondering how this data
will affect analysis further download the line. Will some of these features be deemed as insignificant and as having little impact on whatever models we build?